# Hello World

In [1]:
print("Hello world!")

Hello world!

In [4]:
type("Hello World")

str

## Save "Hello World" as a variable

In [5]:
msg = "Hello World"
print(msg)

Hello World

In [6]:
type(msg)

str

In [12]:
msg = "john nash"

# ALL CAPS
msg_upper = msg.upper()
print(msg_upper)
# Capitalize The First Letter Of Each Word
msg_title = msg.title()
msg_title

JOHN NASH

'John Nash'

# Concatenate

To concatenate means to join together. To concatenate strings is to join to strings so that they form a single string.

In [13]:
print("A")

A

In [15]:
print("B")

B

In [19]:
a = "A"
b = "B"
print(a + b)

AB

In [4]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"
# print(line1 + line2 + line3 + line4)
# print(line1 + " " + line2)

# create a new line with "\n"
# print(line1 + "\n" + line2)

# use sep = "string" to insert a particular string between each object passed to pring 
print(1,2,3,4, sep = "\n")
print(line1, line2, line3, line4, sep = "\n")

1	2	3	4
You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

## Quotes within quotes

In [43]:
print("\"")

"

In [44]:
print('"')

"

# More String Methods

In [53]:
spaces = "      Look at all the spaces in the text!      "
print(spaces)

      Look at all the spaces in the text!

In [54]:
# reomve space on far left
print(spaces.lstrip())

Look at all the spaces in the text!

In [55]:
# remove space on far right
print(spaces.rstrip())

      Look at all the spaces in the text!

In [56]:
# remove spaces on both sides
print(spaces.strip())

Look at all the spaces in the text!

In [57]:
# remove all spaces
print(spaces.replace(" ", ""))

'Lookatallthespacesinthetext!'

In [60]:
print(spaces.replace("      ", ""))

Look at all the spaces in the text!

In [62]:
spaces.replace("s","")

'      Look at all the pace in the text!      '

# Working with numbers

In [65]:
print(1, 1.)

1 1.0

In [69]:
int1 = 1
float1 = 1.
str1 = "1."
print(type(int1), type(float1), type(str1))
print(int1, float1, str1)

<class 'int'> <class 'float'> <class 'str'>
1 1.0 1.

In [71]:
int2 = int1 + int1
print(type(int2), int2)

<class 'int'> 2

Summing an int and a float yields a float

In [74]:
float2 = int1 + float1
print(type(float2), float2)

<class 'float'> 2.0

In [ ]:
## If you attempt to sum an int or flaot with a string, an error results

In [77]:
int1 + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
## Transform value to string

In [85]:
str11 = str(float1) + str1
str11

'1.01.'

In [86]:
float2 = float(str1) + float1
float2

2.0

In [84]:
total = ""
for i in range(20):
    total  = total + str(i)
print(total)

012345678910111213141516171819