# Project 1 - Chapter 1 - Essentials

In [2]:
print("Hello World!")

Hello World!

We just used the print function. Print will print whatever object is passed to it. We passed the string, "Hello World!", and it printed after the code.

# Introduction to Jupyter

This is the first program I have written in ECON 411/611. Next, we will start working string variables.

In [5]:
msg = "john nash"
print(msg)

john nash

Next, we are going to use the string methods to capitalize different letters.

The method *.upper()* will make the string all caps, *.title()* will capitalize the first letters of each string.

In [8]:
print(msg.upper())
print(msg.title())

JOHN NASH
John Nash

## String Concatenation

You can concatenate string using the plus "+" sign. That means that you join them in order to create a single aggregate string.

In [9]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1)
print(line2)
print(line3)
print(line4)

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

In [11]:
print(line1+line2+line3+line4)

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

In [18]:
concat_strings = line1+line2+line3+line4
print(concat_strings)

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

The *sep* option in *print()* allows you to determine the character that will be printed in lieu of each comma.

In [17]:
print(line1,line2,line3,line4, sep = "\n")

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same