# For Loops: Interest Rates

In this lesson we are going to learn what for loops are, how to work with them, and apply them to better understand interest rates and other programming concepts.

## For Loops

For loops are of structure: 
> for i in range(n)
>
> for i in range(start, end + 1, interval)

Let's create some for loops!

In [1]:
# counting with a for loop

for i in range(10, 100):
    print(i, end = ", ") # by default, end = "\n"

10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

In [2]:
range_list = list(range(10,101))
for i in range_list:
    print(i, end = ", ")

10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

Code above was made live in class, next is from the project notes

In [3]:
# create a list by entering values individually
lst1 = [0,1,2,3,4,5]
# create a list using list(range())
lst2 = list(range(6))

# Create empty list and fill using a for loop
lst3 = []
# count by ones to 100
for i in range(101):
    lst3.append(i)

lst4 = []
# count by twos
for i in range(0, 101, 2):
    lst4.append(i)

# create list counting by twos using list(range())
lst5 = list(range(0,101,2))
# counting backward
lst6 = list(range(50, -1, -2))
print("lst1:", lst1, sep = "\n")
print("lst2:", lst2, sep = "\n")
print("lst3:", lst3, sep = "\n")
print("lst4:", lst4, sep = "\n")
print("lst5:", lst5, sep = "\n")
print("lst6:", lst6, sep = "\n")

lst1:
[0, 1, 2, 3, 4, 5]
lst2:
[0, 1, 2, 3, 4, 5]
lst3:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
lst4:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
lst5:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
lst6:
[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

Let's compare .append() .insert():
> The equivalent of lst.append(obj) is lst.insert(-1, obj)

In [4]:
lst7 = []
# create list of numbers from 0 to 100
for i in range(101):
    lst7.insert(i, i)
# You can call the value at some index (location) in the list by calling 
# lst[#]
print(lst7[1])
print(lst7[10])
# identify very last index with -1
print(lst7[-1], lst7[100])
print(lst7[-2], lst7[99])
print(lst7[-3], lst7[98])

1
10
100 100
99 99
98 98

 We can create a list that counts backward without using a for loop that counts backward

In [5]:
# Create a list of numbers that counts backward from 100 to 0
lst8 = []
for i in range(101):
    lst8.insert(0, i)
print(lst8)

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Maybe you do not know the length of a list. You can use len(lst) to count the length of a list.

In [6]:
len_lst1 = len(lst1)
len_lst2 = len(lst2)
len_lst3 = len(lst3)
len_lst4 = len(lst4)
len_lst5 = len(lst5)
len_lst6 = len(lst6)
len_lst7 = len(lst7)
len_lst8 = len(lst8)

print("len lst1:", len_lst1)
print("len lst2:", len_lst2)
print("len lst3:", len_lst3)
print("len lst4:", len_lst4)
print("len lst5:", len_lst5)
print("len lst6:", len_lst6)
print("len lst7:", len_lst7)
print("len lst8:", len_lst8)

for i in range(len(lst1)):
    print(lst1[i], end = ", ")

len lst1: 6
len lst2: 6
len lst3: 101
len lst4: 51
len lst5: 51
len lst6: 26
len lst7: 101
len lst8: 101
0, 1, 2, 3, 4, 5,

### Transforming Dictionaries to Pandas Dataframes

Dictionaries of two forms can be transformed into pandas dataframes. A dictionary can have 1 layer of keys, each of which point to a list:

dct = {"key1":list1,
        "key2:list2,
        "key3:list3}
This results in a dataframe where the keys are interepreted as column names and the list indices are interpreted as row numbers.

In [7]:
dct = {"list1": [1,2,3,4,5],
      "list2":[1 ** 2, 2 ** 2, 3 ** 2, 4 ** 2, 5 ** 2],
      "list3":[1,4,6,3,5]}
dct

{'list1': [1, 2, 3, 4, 5],
 'list2': [1, 4, 9, 16, 25],
 'list3': [1, 4, 6, 3, 5]}

In [8]:
import pandas as pd
df = pd.DataFrame(dct)
df

   list1  list2  list3
0      1      1      1
1      2      4      4
2      3      9      6
3      4     16      3
4      5     25      5

The other way to create a dataframe using a dictionary is to create dictionary of dictionaries:

dct = {"key1:{ind0:elem0,
              ind1:elem1,
              ind2:elem2,
              ind3:elem3,
              ind4:elem4},
       "key2 :{. . .}}

In [9]:
#dct = {"key1:{ind0:elem0,
#              ind1:elem1,
#              ind2:elem2,
#              ind3:elem3,
#              ind4:elem4},
#       "key2 :{. . .}}
dct = {"list1":{i:i for i in range(5)},
      "list2": {0:1**2,
               1:2**2,
               2:3**2,
               3:4**2,
               4:5**2},
      "list3": {0:4,
                1:5,
                2:7,
                3:5,
                4:8}
      }
dct

{'list1': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'list2': {0: 1, 1: 4, 2: 9, 3: 16, 4: 25},
 'list3': {0: 4, 1: 5, 2: 7, 3: 5, 4: 8}}

In [10]:
df = pd.DataFrame(dct)
df

   list1  list2  list3
0      0      1      4
1      1      4      5
2      2      9      7
3      3     16      5
4      4     25      8

## Calculating Interest Earned

Let's calculate interest payments and FV with python script.

$FV = PV(1+r)^t$

$r = (\frac{FV}{PV})^{1/t}-1$

You can python like a calculator. And conveniently, you can define variables before using them in an equation. This is the strategy that we take in solving for the above equation.

Suppose that two years after you place 1000 dollars in a deposit account, the value o the deposit grows to 1200 dollars. Build python script that calculates the annual interest rate.

In [11]:
FV = 1200
PV = 1000
t = 2
r = (FV / PV) ** (1 / t) - 1
r

0.09544511501033215

Let's test this result to make sure that $PV(1+r)^t$ yields the correct FV.

In [12]:
FV_test = PV * (1 + r) ** t
FV_test

1199.9999999999998

Interest can be compounded annually (once per year) or it can be compounded more than once. If the interest is compounded more than once annually,  in the present equation we divide the interest by the number times compounded, $n$, and we multiply the number of years, $t$, by $n$.

$FV = PV(1+\frac{r}{n})^{tn}$

Next, create a dictionary that records the value of $1000 after a year of collecting interest over different rates of compounding.

In [13]:
# use dictionary to define how many times interest is compounded
compounding_def = {"annual":1,
                  "semi-annual":2,
                  "quarterly":4,
                  "monthly":12,
                  "weekly":52,
                  "daily":365}

PV = 1000
r = 0.1
t = 1
#compound interest at rate of 10%
# 10% == 0.1
# create dictionary to hold the results
compounding_interest = {}

# for var1, var2 in dict.items()
# for key1, obj1 in dict.items()
for period_name, n in compounding_def.items():
    # use round(val, #decimals) to round value to a specified # of decimals
    compounding_interest[period_name] = round(PV * (1 + r / n) ** (t * n), 2)
compounding_interest

{'annual': 1100.0,
 'semi-annual': 1102.5,
 'quarterly': 1103.81,
 'monthly': 1104.71,
 'weekly': 1105.06,
 'daily': 1105.16}

In [14]:
compounding_def.items()

dict_items([('annual', 1), ('semi-annual', 2), ('quarterly', 4), ('monthly', 12), ('weekly', 52), ('daily', 365)])

In [15]:
for key, val in compounding_def.items():
    print(key, val)

annual 1
semi-annual 2
quarterly 4
monthly 12
weekly 52
daily 365

In [16]:
for key in compounding_def:
    print(key, compounding_def[key])

annual 1
semi-annual 2
quarterly 4
monthly 12
weekly 52
daily 365

In [17]:
compounding_def = {"annual":1,
                   "semi-annual":2,
                   "quarterly":4,
                   "monthly":12,
                   "weekly":52,
                   "daily":365
                  }
# create variables
PV = 1000
t = 2
# use generator function to create list of interest rates
# from 1 to 20
rates = [i for i in range(1,21)]
compounding_interest = {}
for rate in rates:
    r = rate / 100
    rate = str(rate)+"%"
    compounding_interest[rate] = {}
    for period_name, n in compounding_def.items():
        compounding_interest[rate][period_name] = round(PV * (1 + r / n) ** (t * n), 2)
compounding_interest

{'1%': {'annual': 1020.1,
  'semi-annual': 1020.15,
  'quarterly': 1020.18,
  'monthly': 1020.19,
  'weekly': 1020.2,
  'daily': 1020.2},
 '2%': {'annual': 1040.4,
  'semi-annual': 1040.6,
  'quarterly': 1040.71,
  'monthly': 1040.78,
  'weekly': 1040.8,
  'daily': 1040.81},
 '3%': {'annual': 1060.9,
  'semi-annual': 1061.36,
  'quarterly': 1061.6,
  'monthly': 1061.76,
  'weekly': 1061.82,
  'daily': 1061.83},
 '4%': {'annual': 1081.6,
  'semi-annual': 1082.43,
  'quarterly': 1082.86,
  'monthly': 1083.14,
  'weekly': 1083.25,
  'daily': 1083.28},
 '5%': {'annual': 1102.5,
  'semi-annual': 1103.81,
  'quarterly': 1104.49,
  'monthly': 1104.94,
  'weekly': 1105.12,
  'daily': 1105.16},
 '6%': {'annual': 1123.6,
  'semi-annual': 1125.51,
  'quarterly': 1126.49,
  'monthly': 1127.16,
  'weekly': 1127.42,
  'daily': 1127.49},
 '7%': {'annual': 1144.9,
  'semi-annual': 1147.52,
  'quarterly': 1148.88,
  'monthly': 1149.81,
  'weekly': 1150.17,
  'daily': 1150.26},
 '8%': {'annual': 1166.4,
  'semi-annual': 1169.86,
  'quarterly': 1171.66,
  'monthly': 1172.89,
  'weekly': 1173.37,
  'daily': 1173.49},
 '9%': {'annual': 1188.1,
  'semi-annual': 1192.52,
  'quarterly': 1194.83,
  'monthly': 1196.41,
  'weekly': 1197.03,
  'daily': 1197.19},
 '10%': {'annual': 1210.0,
  'semi-annual': 1215.51,
  'quarterly': 1218.4,
  'monthly': 1220.39,
  'weekly': 1221.17,
  'daily': 1221.37},
 '11%': {'annual': 1232.1,
  'semi-annual': 1238.82,
  'quarterly': 1242.38,
  'monthly': 1244.83,
  'weekly': 1245.79,
  'daily': 1246.04},
 '12%': {'annual': 1254.4,
  'semi-annual': 1262.48,
  'quarterly': 1266.77,
  'monthly': 1269.73,
  'weekly': 1270.9,
  'daily': 1271.2},
 '13%': {'annual': 1276.9,
  'semi-annual': 1286.47,
  'quarterly': 1291.58,
  'monthly': 1295.12,
  'weekly': 1296.51,
  'daily': 1296.87},
 '14%': {'annual': 1299.6,
  'semi-annual': 1310.8,
  'quarterly': 1316.81,
  'monthly': 1320.99,
  'weekly': 1322.63,
  'daily': 1323.06},
 '15%': {'annual': 1322.5,
  'semi-annual': 1335.47,
  'quarterly': 1342.47,
  'monthly': 1347.35,
  'weekly': 1349.28,
  'daily': 1349.78},
 '16%': {'annual': 1345.6,
  'semi-annual': 1360.49,
  'quarterly': 1368.57,
  'monthly': 1374.22,
  'weekly': 1376.45,
  'daily': 1377.03},
 '17%': {'annual': 1368.9,
  'semi-annual': 1385.86,
  'quarterly': 1395.11,
  'monthly': 1401.6,
  'weekly': 1404.17,
  'daily': 1404.84},
 '18%': {'annual': 1392.4,
  'semi-annual': 1411.58,
  'quarterly': 1422.1,
  'monthly': 1429.5,
  'weekly': 1432.44,
  'daily': 1433.2},
 '19%': {'annual': 1416.1,
  'semi-annual': 1437.66,
  'quarterly': 1449.55,
  'monthly': 1457.94,
  'weekly': 1461.27,
  'daily': 1462.14},
 '20%': {'annual': 1440.0,
  'semi-annual': 1464.1,
  'quarterly': 1477.46,
  'monthly': 1486.91,
  'weekly': 1490.68,
  'daily': 1491.66}}

In [18]:
compounding_interest_df = pd.DataFrame(compounding_interest)
compounding_interest_df

,1%,2%,3%,4%,5%,6%,7%,8%,9%,10%,11%,12%,13%,14%,15%,16%,17%,18%,19%,20%
annual,1020.10,1040.40,1060.90,1081.60,1102.50,1123.60,1144.90,1166.40,1188.10,1210.00,1232.10,1254.40,1276.90,1299.60,1322.50,1345.60,1368.90,1392.40,1416.10,1440.00
daily,1020.20,1040.81,1061.83,1083.28,1105.16,1127.49,1150.26,1173.49,1197.19,1221.37,1246.04,1271.20,1296.87,1323.06,1349.78,1377.03,1404.84,1433.20,1462.14,1491.66
monthly,1020.19,1040.78,1061.76,1083.14,1104.94,1127.16,1149.81,1172.89,1196.41,1220.39,1244.83,1269.73,1295.12,1320.99,1347.35,1374.22,1401.60,1429.50,1457.94,1486.91
quarterly,1020.18,1040.71,1061.60,1082.86,1104.49,1126.49,1148.88,1171.66,1194.83,1218.40,1242.38,1266.77,1291.58,1316.81,1342.47,1368.57,1395.11,1422.10,1449.55,1477.46
semi-annual,1020.15,1040.60,1061.36,1082.43,1103.81,1125.51,1147.52,1169.86,1192.52,1215.51,1238.82,1262.48,1286.47,1310.80,1335.47,1360.49,1385.86,1411.58,1437.66,1464.10
weekly,1020.20,1040.80,1061.82,1083.25,1105.12,1127.42,1150.17,1173.37,1197.03,1221.17,1245.79,1270.90,1296.51,1322.63,1349.28,1376.45,1404.17,1432.44,1461.27,1490.68

In [19]:
compounding_interest_df.T

     annual    daily  monthly  quarterly  semi-annual   weekly
1%   1020.1  1020.20  1020.19    1020.18      1020.15  1020.20
2%   1040.4  1040.81  1040.78    1040.71      1040.60  1040.80
3%   1060.9  1061.83  1061.76    1061.60      1061.36  1061.82
4%   1081.6  1083.28  1083.14    1082.86      1082.43  1083.25
5%   1102.5  1105.16  1104.94    1104.49      1103.81  1105.12
6%   1123.6  1127.49  1127.16    1126.49      1125.51  1127.42
7%   1144.9  1150.26  1149.81    1148.88      1147.52  1150.17
8%   1166.4  1173.49  1172.89    1171.66      1169.86  1173.37
9%   1188.1  1197.19  1196.41    1194.83      1192.52  1197.03
10%  1210.0  1221.37  1220.39    1218.40      1215.51  1221.17
11%  1232.1  1246.04  1244.83    1242.38      1238.82  1245.79
12%  1254.4  1271.20  1269.73    1266.77      1262.48  1270.90
13%  1276.9  1296.87  1295.12    1291.58      1286.47  1296.51
14%  1299.6  1323.06  1320.99    1316.81      1310.80  1322.63
15%  1322.5  1349.78  1347.35    1342.47      1335.47  1349.28
16%  1345.6  1377.03  1374.22    1368.57      1360.49  1376.45
17%  1368.9  1404.84  1401.60    1395.11      1385.86  1404.17
18%  1392.4  1433.20  1429.50    1422.10      1411.58  1432.44
19%  1416.1  1462.14  1457.94    1449.55      1437.66  1461.27
20%  1440.0  1491.66  1486.91    1477.46      1464.10  1490.68