### Transforming Dictionaries to Pandas Dataframes

Dictionaries of two forms can be transformed into pandas dataframes. A dictionary can have 1 layer of keys, each of which point to a list:

dct = {"key1":list1,
        "key2:list2,
        "key3:list3}
This results in a dataframe where the keys are interepreted as column names and the list indices are interpreted as row numbers.

In [1]:
dct = {"list1": [1,2,3,4,5],
      "list2":[1 ** 2, 2 ** 2, 3 ** 2, 4 ** 2, 5 ** 2],
      "list3":[1,4,6,3,5]}
dct

{'list1': [1, 2, 3, 4, 5],
 'list2': [1, 4, 9, 16, 25],
 'list3': [1, 4, 6, 3, 5]}

In [2]:
import pandas as pd
df = pd.DataFrame(dct)
df

   list1  list2  list3
0      1      1      1
1      2      4      4
2      3      9      6
3      4     16      3
4      5     25      5

The other way to create a dataframe using a dictionary is to create dictionary of dictionaries:

dct = {"key1:{ind0:elem0,
              ind1:elem1,
              ind2:elem2,
              ind3:elem3,
              ind4:elem4},
       "key2 :{. . .}}

In [3]:
#dct = {"key1:{ind0:elem0,
#              ind1:elem1,
#              ind2:elem2,
#              ind3:elem3,
#              ind4:elem4},
#       "key2 :{. . .}}
               # using generator function for list1
dct = {"list1":{i:i for i in range(5)},
      "list2": {0:1**2,
               1:2**2,
               2:3**2,
               3:4**2,
               4:5**2},
      "list3": {0:4,
                1:5,
                2:7,
                3:5,
                4:8}
      }
dct

{'list1': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'list2': {0: 1, 1: 4, 2: 9, 3: 16, 4: 25},
 'list3': {0: 4, 1: 5, 2: 7, 3: 5, 4: 8}}

In [4]:
df = pd.DataFrame(dct)
df

   list1  list2  list3
0      0      1      4
1      1      4      5
2      2      9      7
3      3     16      5
4      4     25      8