In [21]:
import numpy as np
import pandas as pd
length = 1000
cols = ["Q", "X", "Y", "Z"]
mu = 0
sigma = 5

In [45]:
import pingouin
lst_dct = {col:[] for col in cols }
for i in range(length):
    lst_dct["Q"].append(50 + np.random.normal(mu, sigma))
    lst_dct["X"].append(5 * lst_dct["Q"][-1] + 10 + np.random.normal(mu, sigma ))
    lst_dct["Y"].append(lst_dct["Q"][-1] * -3 + 20 +  np.random.normal(mu, sigma))
    lst_dct["Z"].append(5 * lst_dct["X"][-1] + 10 * lst_dct["Y"][-1] +  np.random.normal(mu, 3 * sigma))

df = pd.DataFrame(lst_dct)
df.pcorr()

          Q         X         Y         Z
Q  1.000000  0.437189 -0.175124  0.044751
X  0.437189  1.000000 -0.802420  0.831661
Y -0.175124 -0.802420  1.000000  0.958636
Z  0.044751  0.831661  0.958636  1.000000

In [47]:
df[["Q","X","Y"]].pcorr()

          Q         X         Y
Q  1.000000  0.855207 -0.465002
X  0.855207  1.000000 -0.032646
Y -0.465002 -0.032646  1.000000

In [50]:
df[["X","Y","Z"]].pcorr()

          X         Y         Z
X  1.000000 -0.992671  0.947418
Y -0.992671  1.000000  0.966691
Z  0.947418  0.966691  1.000000

In [52]:
df[["Q","X","Z"]].pcorr()

          Q         X         Z
Q  1.000000  0.983276 -0.439373
X  0.983276  1.000000  0.367557
Z -0.439373  0.367557  1.000000

In [54]:
df[["Q","Y","Z"]].pcorr()

          Q         Y         Z
Q  1.000000 -0.979924  0.817661
Y -0.979924  1.000000  0.879058
Z  0.817661  0.879058  1.000000

In [55]:
df[["X","Z"]].pcorr()

          X         Z
X  1.000000 -0.394051
Z -0.394051  1.000000